<!--piechart_title-->
		.agricultural_soils_label_path
		{fill: #49673f;}
		.sec_slice_label_path fugitive_emissions_label_path
		{fill: #fdb679;}
		.our_world_in_data_logo_text_background
		{fill: #002149;}
		.our_world_in_data_logo_border
		{fill: #e60006;}
		.our_world_in_data_logo_text
		{fill: #fefefe;}
		.our_world_in_data_logo_background
		{fill: #00214a;}
		.pie_chart_title
		{fill: #3a3737;}

		<!--global/classes-->
		.main_label{fill:#FFFFFF;}

		<!--colors-->
		  <!--{agriculture}-->
		  #agriculture_group .main_pie_path
		  {fill: #51C47A; color: #51C47A}

		  #livestock_manure{fill: #455341; color: #455341;}
		  #agricultural_soils{fill: #49673F; color: #49673F;}
		  #rice_cultivation{fill: #6B8D3D; color: #6B8D3D;}
		  #crop_burning{fill: #5BBB80; color: #5BBB80;}
		  #deforestation{fill: #79D99E; color: #79D99E;}
		  #cropland{fill: #AEDE9E; color: #AEDE9E;}
		  #grassland_label_line
		  {fill: none; stroke: #49a83f; stroke-width: 0.5; stroke-miterlimit: 10;}
		  .grassland_label_path{fill: #49A83F; color: #49A83F;}

		  <!--waste-->
		  #waste_group .main_pie_path
		  {fill: #3998C8; color: #3998C8;}
		  #landfills{fill: #1B7AAA; color: #1B7AAA;}
		  #wastewater{fill: #3998C8; color: #3998C8;}

		  <!--industry-->
		  #industry_group .main_pie_path
		  {fill: #707070;}
		  #chemicals{fill: #707070; color: #707070;}
		  #cement{fill: #A2A2A2; color: #A2A2A2;}

		  <!--energy-->
		  #energy_group .main_slice_pie
		  {fill: #FC620A; color: #FC620A;}

		  #energy_use_in_industry
		  {fill:#FC2B0A; color: #FC2B0A;}
		  #non_ferrous_metals_label_line
		  {fill:none; stroke:#FC2B0A;}

		  #transport
		  {fill:#C02600; color: #C02600;}

		  #energy_use_in_buildings
		  {fill:#FC620A; color: #FC620A;}
		  #unallocated_fuel_combustion
		  {fill:#FF8028; color: #FF8028;}

		  #fugitive_emissions_from_energy_production
		  {fill:#FDB679; color: #FDB679;}

		  #energy_in_agriculture_fishing
		  {fill:#EBC083; color: #EBC083;}